@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body{
    font-family: 'Roboto Slab', serif;
}

.gameboard{
    height: 500px;
    width: 30%;
    background-color: pink;
}

table {
    table-layout: fixed;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

table td {
    width: 33%;
    height: 33%;
    font-size: 25px;
    text-align: center;
    border: 3px solid black;
}

#restartbtn{
    width: 100px;
    height: 50px;
    background-color: pink;
}